body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    margin-left: 190px; /* Same as the width of the sidenav */
}

.main {
    margin-left: 190px; /* Same as the width of the sidenav */
}

h1 {
    color: #3c9690;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #0060a8;
}

h2 {
    font-size: 1.5em;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link, a:visited {
    color: #0060a8;
}

a:hover {
    text-decoration: none;
}body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.5em;
    color: #0060a8
}

h3 {
    font-size: 1.2em;
    color: #0060a8
}

p {
    align-items: center;
    font-size: 1em;
    color: #003373
}

hr {
    border: 1px solid #003373;
}

.job-title {
    color: #0060a8;
    font-weight: bold;
}

a:link, a:visited {
    color: #0060a8;
}

a:hover {
    text-decoration: none;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50px;
    border: 2px solid #003373;
}
/* The sidenav */
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #375e97;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #EEEEEE;
    display: block;
    transition: 0.3s;
  }
  
  /* Page content */
